<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li class="dropdown-title">Ordenar por</li>
  <li class="divider"></li>
  <li><a href="#!">Menor Preço</a></li>
  <li><a href="#!">Categoria</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo qqcefaz-nav-title">qqcefaz?</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <!-- Dropdown Trigger -->
      <a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right orderby">import_export</i></a>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li class="profile"><img class="avatar-photo" id="nav-bar-foto" src=""></li>
  <li class="profile profile-name" id="nav-bar-nome"></li>
  <li class="profile" id="nav-bar-email"></li>
  <li class="divider"></li>
  <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
  <li><a href="/perfil"><i class="material-icons left">face</i>Perfil</a></li>
  <li><a href="/meus-produtos"><i class="material-icons left">attach_money</i>Meus Produtos</a></li>
</ul>

<script>
  $(document).ready(() => {
    let cookie = $.(cookie);
    $.ajax({
      type: 'POST',
      url: '/usuario/informacoesnavbar',
      data: {
        token: cookie.token
      }
    }).done((d) => {
      console.log(d);
      $('#nav-bar-foto').attr('src', d.foto);
      $('nav-bar-nome').html(d.nome);
      $('nav-bar-email').html(d.email);
    });
  });
</script>
