<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">qqcefaz?</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!-- Dropdown Trigger -->
      <a class="dropdown-trigger" href="#!" data-target="dropdown1" data-alignment="right"><i class="material-icons right">import_export</i></a>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li class="profile"><img class="avatar-photo" src="https://www.petmd.com/sites/default/files/petmd-kitten-development.jpg"></li>
  <li class="profile profile-name">{{usuario.nome}}</li>
  <li class="profile">{{usuario.email}}</li>
  <li class="divider"></li>
  <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
  <li><a href="/perfil"><i class="material-icons left">face</i>Perfil</a></li>
  <li><a href="/meus-produtos"><i class="material-icons left">attach_money</i>Meus Produtos</a></li>
  <li><a href="/logout"><i class="material-icons left">arrow_forward</i>Logout</a></li>
</ul>