{{> navbar}}

<div class="row">
  <div class="col s6 m6">
    <div class="card small">
      <div class="card-image">
        <img class="home-img-card" src="https://www.petmd.com/sites/default/files/petmd-kitten-development.jpg">
        <span class="card-title home-card-title">R$10,00</span>
      </div>
      <div class="card-content">
        <p class="home-title-product">Gatinho fofinho</p>
        <p class="home-subtitle-product">Vendido por: <a href="#">@mione</a></p>
      </div>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="card small">
      <div class="card-image">
        <img class="home-img-card" src="https://www.petmd.com/sites/default/files/petmd-kitten-development.jpg">
        <span class="card-title home-card-title">R$10,00</span>
      </div>
      <div class="card-content">
        <p class="home-title-product">Gatinho fofinho</p>
        <p class="home-subtitle-product">Vendido por: <a href="#">@mione</a></p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    let token = $.cookie("token");
    $.ajax({
      type: 'POST',
      url: '/usuario/informacoesnavbar',
      data: {
        token: token
      }
    }).done((d) => {
      $('#nav-bar-foto').attr("src", d.foto);
      $('#nav-bar-nome').html(d.nome);
      $('#nav-bar-email').html(d.email);
      $("#nav-bar-usuario").attr("href", `/usuario/${d.usuario}`);
    });
  });
</script>