<!DOCTYPE html>
<html>
  <head>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    {{> navmenu }}
    {{{body}}}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var elems2 = document.querySelectorAll('.dropdown-trigger');
    var elems3 = document.querySelectorAll('.fixed-action-btn');
    var instances = M.Sidenav.init(elems);
    var instances2 = M.Dropdown.init(elems2);
    var instances3 = M.FloatingActionButton.init(elems3, {
      direction: 'left',
      hoverEnabled: false
    });
  });
</script>
{{#if erro }}
  <script type="text/javascript">
  const erro = '{{erro}}';
  console.log('ue', erro);
  M.toast({html: 'Um erro aconteceu: '+ erro })
  </script>
{{/if}}
  </body>
</html>

            