<div class="materialContainer">

    <div class="box">
        <form action="#">
            <div>
                <label for="email-login">E-mail:</label>
                <input type="email" name="email" placeholder="e-mail lindo">
            </div>
            <div>
                <label for="senha-login">Senha:</label>
                <input type="password" name="senha" placeholder="senha super secreta">
            </div>
        </form>

    </div>
</div>