<h1>Login</h1>
<div class="materialContainer">
    <div class="box">
        <span>{{mensagem}}</span>
        <form action="/usuario/login" method="POST">
            <div>
                <label for="email-login">E-mail:</label>
                <input type="email" name="email" placeholder="e-mail lindo" value="{{email}}">
            </div>
            <div>
                <label for="senha-login">Senha:</label>
                <input type="password" name="senha" placeholder="senha super secreta">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    <a href="/usuario/cadastro" class="waves-effect waves-light btn botao-cadastro">Cadastre-se Aqui!</a>
</div>