<h1>Login</h1>
<div class="materialContainer">
    <div class="box">
        <form action="/usuario/login" method="POST">
            <div>
                <label for="email-login">E-mail:</label>
                <input type="email" name="email" placeholder="e-mail lindo">
            </div>
            <div>
                <label for="senha-login">Senha:</label>
                <input type="password" name="senha" placeholder="senha super secreta">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>