/* GLOBAL STYLE */
* {
  font-family: "Poppins", sans-serif;
  font-size: 0.98em;
  /* font-weight: 500; */
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-color: #3d155f;
  --secondary-color: #01a39d;
  --warning-color: #fe3961;
  --font-title: "Raleway";
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fafafa;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-between-center input {
  color: #fafafa;
}

/* SIDEBAR */
nav {
  background: var(--primary-color);
}

.avatar-photo {
  margin-top: 5%;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile {
  padding-left: 5%;
  line-height: 30px !important;
}

.profile-name {
  font-size: larger;
  font-weight: bold;
}

.orderby a .material-icons {
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px !important;
}

.dropdown-content {
  left: auto !important;
  right: 0px !important;
  width: auto !important;
  color: var(--secondary-color);
}

.dropdown-title {
  padding: 14px 16px;
  font-weight: bold;
  font-size: 18px;
}

/* HOME PAGE */

.img-no-product-found {
  display: flex;
  justify-content: center;
}

.txt-no-product-found {
  font-weight: 600;
  text-align: center;
  font-family: var(--font-title);
}

/** filters **/
.filters-form {
  margin-top: 10px;
}

.filters-form-submit {
  text-align-last: center;
}

.filters-form input[type="submit"] {
  color: #fafafa;
}

.filters-flex-space-between {
  display: flex;
  justify-content: space-evenly;
}

.filters-flex-space-between div {
  display: grid;
  margin-bottom: 5px;
}

.home-card {
}

.value-card-title {
  background-color: var(--secondary-color);
  border-radius: 15%;
  padding: 3px 8px 3px 8px !important;
  margin: 8px !important;
  font-size: 16px !important;
}

.card-content a {
  display: inline-block;
}

.home-title-product {
  font-weight: 700;
  font-family: var(--font-title);
  font-size: 1.1em;
}

/* LOGIN E CADASTRO */
.qqcefaz-login {
  margin-top: 100px;
}

/* PRODUTO */

.edit-action {
  color: var(--secondary-color);
}
.warning-action {
  color: var(--warning-color);
}

.page-main-title {
  font-family: var(--font-title);
  text-align: center;
  font-weight: 600;
}

.my-products-img {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.imagem-produto {
  width: 90%;
}

.produto-title {
  font-size: 1.5em;
  font-family: var(--font-title);
  font-weight: 600;
}

.info-vendedor {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  margin-top: 10px;
}