<h4>Cadastro de Usuário</h4>

<form id="form-cadastro" method="post" action="/usuario/cadastro">
    <div>
        <label for="foto-usuario">Rostinho bonito de deus: </label>
        <input type="file" name="foto-usuario" placeholder="único no mundo">
    </div>
    <div>
        <label for="nome-usuario">Nome:</label>
        <input type="text" name="nome-usuario" placeholder="Qual o nome da bonita?">
    </div>
    <div>
        <label for="email-usuario">E-mail:</label>
        <input type="email" name="email-usuario" placeholder="Nos passe seu melhor e-mail">
    </div>
    <div>
        <label for="senha-usuario">Senha:</label>
        <input type="password" name="senha-usuario" placeholder="secretissima">
    </div>
    <div>
        <label for="usuario">Usuário:</label>
        <input type="text" name="usuario" placeholder="único no mundo">
    </div>
    <button type="submit">Enviar</button>
</form>