<div>
    <div>
        <img src="{{foto}}" alt="foto usuário">
    </div>
    <div>
        <span>
            {{nome}}
        </span>
    </div>
    <div>
        <span>
            {{usuario}}
        </span>
    </div>
    <div>
        <span>
            {{email}}
        </span>
    </div>
    <div>

    </div>
</div>